/* 通用: */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	padding: 0px 5%;
}

/* 导航栏: */
.nav {
	height: 70px;
	display: flex;
	justify-content: space-between;
	line-height: 70px;
	padding: 0px 5%;
}

/* 导航栏+Footer: */
.nav, .Footer {
	width: 100%;
	background-color: #ed8f49;
}
.nav a {
	text-decoration: none;
	font-size: 30px;
	color:white;
}

/* Banner: */
.Banner {
	width: 100%;
	height: 840px;
	object-fit: cover;
}


/* 底部Footer: */
.Footer {
	height: 150px;
	line-height: 100px;
}

.Footer_titles {
	height: 60px;
	line-height: 60px;
}

.Footer_content {
	background-color: lightcoral;
}

.Footer_titles,.Footer_content {
	width:100%;
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
}